<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="../public/css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <h1>DH News</h1>
    <h3>postado em 21/7/2022</h3>
    <p>
      Ah, look at all the lonely people
Ah, look at all the lonely people <br>
Eleanor Rigby
Picks up the rice in the church where a wedding has been
Lives in a dream <br>
Waits at the window
Wearing the face that she keeps in a jar by the door
Who is it for? <br>
All the lonely people
Where do they all come from?
    </p>
    <img class="foto" src="../public/img/destaque.webp" alt="" />
    <h2> Father McKenzie</h2>
    <p>Writing the words of a sermon that no one will hear
      No one comes near <br>
      Look at him working
      Darning his socks in the night when there's nobody there
      What does he care?</p>
      <ol>
        <li>All the lonely people</li>
        <li>Where do they all come from?</li>
        <li>  Where do they all belong?</li>
      </ol>
      <p>Eleanor Rigby
        Died in the church and was buried along with her name
        Nobody came
        Father McKenzie <br>
        Wiping the dirt from his hands as he walks from the grave
        No one was saved All the lonely people <br>(ah, look at all the lonely people!) 
        Where do they all come from?
        All the lonely people <br> (ah, look at all the lonely people!)
        Where do they all belong?</p>
        <h2> Here comes the Sun, Here comes the Sun, and I say
          It's all right</h2>
          <p>Little darling
            It's been a long cold lonely winter
            Little darling
            It feels like years since it's been here <br>
            Here comes the Sun, doo-doo-doo-doo
            Here comes the Sun and I say
            It's all right. Little darling <br>
            The smiles returning to the faces
            Little darling
            It seems like years since it's been here</p>

            <p>Here comes the Sun
              Here comes the Sun and I say
              It's all right
              Sun, Sun, Sun, here  it comes<br>
              Sun, Sun, Sun, here it comes
              Sun, Sun, Sun, here it comes
              Sun, Sun, Sun, here  it comes
              Sun, Sun,<br> Sun, here it comes
              Little darling
              I feel that ice is slowly melting
              Little darling 
              It seems like years<br> since it's been clear
              Here comes the Sun (doo, doo, doo)
              Here comes the Sun and I say</p>

              <p>It's all right
                Here comes the Sun (doo, doo, doo)
                Here comes the Sun
                It's all right
                It's all right. <br> Hey Jude, don't make it bad.
                Take a sad song and make it better.
                Remember to let her into your <br>heart,
                Then you can start to make it better</p>

  </body>
</html>
